	{% load static %}
	<footer class="footer" style='background-color:#2B2E38'>
		<div class="footer_social">
			<div class="container">
				<div class="row">
					<div class="col text-align-center">

						<ul style='float:left' id='temp' class="mt-4  d-flex  align-items-center justify-content-center">
							<li style='color:white' class='mt-4'>  IctKaryera Copyright @ 2020</li>
						</ul>
						<ul class="footer_social_list d-flex flex-row align-items-center justify-content-end">
							<li> <a style='color:white' onmouseover="" href="mailto:info@ictkaryera.az"> <i>info@ictkaryera.az</i></a></li>
							<li> <a style='color:white' onmouseover=""> <i></i></a></li>
							<li><a href="https://www.facebook.com/groups/ictkaryera"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	
	</footer>


