Django==2.2.7
django-ckeditor==5.8.0
django-classy-tags==0.9.0
django-cms==3.7.1
django-formtools==2.2
django-js-asset==1.2.2
django-sekizai==1.0.0
django-treebeard==4.3.1
djangocms-admin-style==1.4.0
djangocms-text-ckeditor==3.8.0
html5lib==1.0.1
Pillow==7.0.0
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
webencodings==0.5.1
